version: '2'

networks:
  app-tier:
    driver: bridge

services:
  zookeeper:
    image: 'bitnami/zookeeper:3'
    ports:
      - '2181:2181'
    volumes:
      - 'zookeeper_data:/bitnami'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - app-tier
  kafka:
    image: 'bitnami/kafka:2'
    ports:
      - '9092:9092'
    volumes:
      - 'kafka_data:/bitnami'
    networks:
      - app-tier
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper

  restaurent:
    image: 'restaurent'
    networks:
      - app-tier
    ports:
      - '7005:7005'

  buyer:
    image: 'buyer'
    networks:
      - app-tier
    ports:
      - '7006:7006'

  mysql:
    image: 'mysql:latest'
    environment: 
      - MYSQL_ROOT_PASSWORD=root_password
    networks:
      - app-tier
    ports:
      - '3306:3306'

volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local
